@{
    ViewData["Title"] = "About us";
}

<body class="back-about">
    <div class="margine-jos"></div>

    <div class="text-center">
        <h1 class="titlu-main">All about the apple environment!</h1>
    </div>
    
</body>

