@{
    ViewData["Title"] = "All about the Apple accessories";
}
<body>
    <h1 class="titlu-main">@ViewData["Title"]</h1>

    <p>The page of your Apple accessories.</p>

    <div class="margine-jos"></div>
</body>