@{
    ViewData["Title"] = "Bag";
}
<body class="back-product">
    <div class="text-center">
        <h1 class="titlu-main">Your own product bag.</h1>
    </div>

    <div class="margine-jos"></div>
</body>