@{
    ViewData["Title"] = "All about an iMac";
}
<body>
    <h1 class="titlu-main">@ViewData["Title"]</h1>

    <p>The page of your iMac.</p>
    <div class="benchimac">
        <canvas id="myChart" width="400" height="200"></canvas>

        <script >
            const ctx = document.getElementById('myChart').getContext('2d');
            const myChart = new Chart(ctx, {
                type: 'bar', // Tipul de diagramă: bar, line, pie, etc.
                data: {
                    labels: ['iMac M1', 'iMac M2', 'iMac M3', 'iMac M4'],
                    datasets: [{
                        label: 'Puncte obtinute',
                        data: [1742, 1923, 2150, 2455],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.4)',
                            'rgba(54, 162, 235, 0.4)',
                            'rgba(255, 206, 86, 0.4)',
                            'rgba(75, 192, 192, 0.4)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    responsive: true,
                    plugins: {
                        legend: {
                            position: 'top',
                            labels: {
                                font: {
                                    size: 24
                                }
                            }
                        },
                        title: {
                            display: true,
                            text: 'Valorile obtinute in single-core in GeekBench',
                            font: {
                                size: 28
                            }
                        }
                    }
                }
            });
        </script>
    </div>
    
    <div class="margine-jos"></div>
</body>