@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="titlu-main">Apple CPU generations.</samp></h1>
</div>
<div class="flip-container-wrapper">
    <div class="flip-container">
        <div class="flipper">
            <div class="front">
                <img src="https://www.apple.com/newsroom/images/2024/05/apple-introduces-m4-chip/tile/Apple-M4-chip-badge-240507.jpg.news_app_ed.jpg" alt="Image" />
            </div>
            <div class="back">
                <p>Procesorul Apple M4, lansat în 2024, este construit pe un proces de 3 nanometri, 
                    aducând îmbunătățiri semnificative față de predecesorul M3, în termeni de performanță și eficiență energetică.
                </p>
            </div>
        </div>
    </div>

    <div class="flip-container">
        <div class="flipper">
            <div class="front">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSKr1MLEA6Ka3uJ_CK8N63FlaJiFzn0RA4YJQ&s" alt="Image" />
            </div>
            <div class="back">
                <p>Procesorul Apple M3, lansat în octombrie 2023, este construit pe un proces de 3 nanometri, 
                    oferind o performanță semnificativ mai mare față de predecesorul M2, cu o eficiență energetică îmbunătățită. 
                </p>
            </div>
        </div>
    </div>

    <div class="flip-container">
        <div class="flipper">
            <div class="front">
                <img src="https://www.trustedreviews.com/wp-content/uploads/sites/54/2022/03/Apple-M2-920x613.jpg" alt="Image"/>
            </div>
            <div class="back">
                <p>
                    Procesorul Apple M2, lansat în 2022, este construit pe un proces de 5 nanometri, 
                    oferind o performanță semnificativ mai mare față de predecesorul M1, 
                    cu îmbunătățiri notabile în ceea ce privește eficiența energetică și puterea de procesare.
                </p>
            </div>
        </div>
    </div>

    <div class="flip-container">
        <div class="flipper">
            <div class="front">
                <img src="https://www.apple.com/newsroom/images/product/mac/standard/Apple_new-m1-chip-graphic_11102020_big.jpg.large.jpg" alt="Image"/>
            </div>
            <div class="back">
                <p>
                    Procesorul Apple M1, lansat în 2020, este construit pe un proces de 5 nanometri, 
                    oferind o performanță semnificativ mai mare față de predecesorii săi Intel, 
                    cu îmbunătățiri remarcabile în eficiența energetică și viteză de procesare. 
                </p>
            </div>
        </div>
    </div>
</div>

<div>
    <p class="font-main">
        Procesorul Apple este un cip personalizat creat de Apple pentru a alimenta produsele sale, precum iPhone, iPad, Mac și Apple Watch. 
        Aceste procesoare sunt bazate pe arhitectura ARM și sunt concepute pentru a oferi performanțe ridicate 
        și o eficiență energetică îmbunătățită, optimizate special pentru sistemele Apple.
    </p>
</div>

<div class="margine-jos"> </div>
