@{
    ViewData["Title"] = "Privacy Policy";
}
<body class="back-privacy">
    <h1 class="titlu-main">@ViewData["Title"]</h1>

    <p>Use this page to detail your site's privacy policy.</p>

    <div class="margine-jos"></div>
</body>